body {
    background-color: #543A14;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.rubik-vinyl-regular {
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-style: normal;
    color: #FFF0DC;
}

.maint {
    font-size: 440%;
}

.div1 {
    border-radius: 20px;
    background-color: #F0BB78;
    min-height: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #131010;
    transition: transform .2s;
    z-index: 1;
    width: 65%;
    margin-bottom: 75px;
}

.lilita-one-regular {
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: larger;
}

@import url("https://fonts.googleapis.com/css?family=Merienda+One");

html {
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}

body:before, body:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background-image: url(http://www.freepngimg.com/download/winter_snow/4-2-white-snow-png.png);
    background-size: cover;
    background-repeat: repeat-y;
}

body:before {
    -webkit-animation: MOVE-BG 500s linear infinite;
    animation: MOVE-BG 500s linear infinite;
}

body:after {
    -webkit-animation: MOVE-BG 500s linear infinite;
    animation: MOVE-BG 500s linear infinite;
    -webkit-animation-delay: 250s; /* Ritardo per creare l'effetto di loop continuo */
    animation-delay: 250s; /* Ritardo per creare l'effetto di loop continuo */
}

@-webkit-keyframes MOVE-BG {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

@keyframes MOVE-BG {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

.div1:hover {
    transform: scale(1.25);
}
